.light-mode {
  /** SCSS DARK THEME PRIMARY COLORS */
  --primary-100: #2196f3;
  --primary-200: #50a1f5;
  --primary-300: #6eacf6;
  --primary-400: #87b8f8;
  --primary-500: #9dc3f9;
  --primary-600: #b2cffb;
  /** SCSS DARK THEME SURFACE COLORS */
  --surface-100: #ffffff;
  --surface-200: #ffffff;
  --surface-300: #ffffff;
  --surface-400: #ffffff;
  --surface-500: #ffffff;
  --surface-600: #ffffff;
  /** SCSS DARK THEME MIXED SURFACE COLORS */
  --surface-mixed-100: #eef4fe;
  --surface-mixed-200: #f0f5fe;
  --surface-mixed-300: #f2f6fe;
  --surface-mixed-400: #f4f8fe;
  --surface-mixed-500: #f6f9fe;
  --surface-mixed-600: #f7faff;
  /** EXAMPLES */
  --color: #000;
}